* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background: #81e0ec; */
    background: linear-gradient(120deg, #7dbfb1, #e4ffe3, #2b5a66fa);
    min-height: 100vh;
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: logoAnimation 4s ease-in-out infinite;
}

.logo img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

@keyframes logoAnimation {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
