/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e4ffe3; /* Very light greenish tinge */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
.header {
    background-color: #7dbfb1    ; /* Dark green */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px; /* Add some rounded corners */
    border-top-right-radius: 10px; /* Add some rounded corners */
}

.header__title {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

#name {
    width: calc(100% - 30%); /* Adjust width as needed */
    height: 25px;
}

/* Form Styles */
.upload-form {
    background-color: #2b5a66fa; /* Light green */
    color: #e4f4f8fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Increase padding for larger content */
    max-width: 800px; /* Increase max-width for larger content */
    margin: 0 auto; /* Center the form horizontally */
}

.form-group {
    margin-bottom: 30px; /* Increase margin-bottom for larger spacing */
}

.form-label {
    display: block;
    font-weight: 600;
    margin-bottom: 15px; /* Increase margin-bottom for larger spacing */
    font-size: 24px; /* Increase font size */
}

.form-input {
    border: 1px solid #ccc;
    border-radius: 5px; /* Increase border-radius for rounder corners */
    padding: 15px; /* Increase padding for larger input */
    font-size: 20px; /* Increase font size */
    width: 100%;
}

/* Button Styles */
.btn {
    background-color:#7dbfb1 ;
    border: none;
    border-radius: 5px; /* Increase border-radius for rounder corners */
    color: #fff;
    cursor: pointer;
    font-size: 24px; /* Increase font size */
    font-weight: 600;
    padding: 15px 30px; /* Increase padding for larger button */
    transition: background-color 0.3s ease;
    display: block; /* Make the button a block-level element */
    margin: 0 auto; /* Center the button horizontally */
}

.btn:hover {
    background-color:  #81e0ec;
}

.header {
    background-color: #7dbfb1; /* Dark green */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px; /* Add some rounded corners */
    border-top-right-radius: 10px; /* Add some rounded corners */
    position: relative; /* Make the header container positioned */
}

.header__title {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.header__logo {
    position: absolute; /* Position the logo absolute */
    left: 50px; /* Adjust left position as needed */
    top: 50%; /* Align the top of the logo */
    transform: translateY(-50%); /* Center the logo vertically */
    height: 100px; /* Set the height of the logo */
    width: auto; /* Allow the width to adjust automatically */
}