<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>IRM - Intelligent Recruitment Model</title>
    <script>
        setTimeout(function() {
            window.location.href = "/quiz";  
        }, 4000);  
    </script>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static',filename='logobg.png')}}" alt="logo" >
    </div>
</body>

</html>
