<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Submitted</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='submit.css') }}">
</head>
<body>
    <div class="container">
        <div class="message">
            <img src="{{ url_for('static',filename='tick.png')}}" alt="Tick Image" class="tick-image">
            <h2>Test Submitted Successfully!</h2>
        </div>
    </div>
</body>
</html>
